<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ProyectoConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Proyecto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.PROYECTOConnectionString1"
            connectionString="Data Source=.;Initial Catalog=PROYECTO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ProyectoConnectionString2"
            connectionString="Data Source=DESKTOP-GE5HRHG\SQLEXPRESS;Initial Catalog=Proyecto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ProyectoConnectionString3"
            connectionString="Data Source=DESKTOP-JC0N3DC\SQLEXPRESS;Initial Catalog=Proyecto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.Proyectov1_8ConnectionString"
            connectionString="Data Source=DESKTOP-8U5PP6Q\SQLEXPRESS;Initial Catalog=Proyectov1.8;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
